<div class="navigation">
  <div class="box1">
    <mat-form-field style="text-align: center">
      <mat-label>Address</mat-label>
      <input
        matInput
        type="text"
        style="
          border: 2px solid black;
          border-radius: 5px;
          padding: 5px;
          width: 150px;
        "
        [(ngModel)]="proj.name"
        (change)="updateAddress($event)"
      />
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="pdfIt()"
        style="
          padding: 0px;
          min-width: 100%;
          height: 30px;
          border: 2px solid black;
          border-radius: 5px;
          text-align: center;
        "
      >
        PDF
      </button>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="photoList()"
        style="
          padding: 0px;
          min-width: 100%;
          height: 30px;
          border: 2px solid black;
          border-radius: 5px;
          text-align: center;
        "
      >
        Photos
      </button>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="clearCache()"
        style="
          padding: 0px;
          min-width: 100%;
          height: 30px;
          border: 2px solid black;
          border-radius: 5px;
          text-align: center;
        "
      >
        Clear
      </button>
    </div>
  </div>
  <div #viddiv class="box2">
    <div matBadge="{{ captures.length }}" matBadgePosition="below after"></div>
    <video
      #video
      id="video"
      autoplay
      playsinline
      style="background-color: transparent"
    ></video>
  </div>
  <div class="box3">
    <div>
      <button mat-fab (click)="start()" color="warn" [disabled]="disableBtn">
        {{ btnText }}
      </button>
    </div>
    <div>
      <button id="stop" mat-fab (click)="stop()" color="warn">Stop</button>
    </div>
    <div>
      <mat-slide-toggle [(ngModel)]="autoMode" (change)="autoChange()"
        >Auto Mode</mat-slide-toggle
      >
    </div>
    <div>Seconds/Photo</div>
    <div>
      <mat-radio-group [(ngModel)]="picspersec">
        <mat-radio-button [value]="1">1</mat-radio-button>
        <mat-radio-button [value]="2">2</mat-radio-button>
        <mat-radio-button [value]="3">3</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- <div>
      <button mat-button (click)="stop()" style="padding: 0px; min-width: 100%;">Stop</button>
    </div> -->
  </div>
  <div class="box4">
    <mat-form-field style="text-align: center">
      <mat-label>Address</mat-label>
      <input
        matInput
        type="text"
        style="
          border: 2px solid black;
          border-radius: 5px;
          padding: 5px;
          width: 150px;
        "
        [(ngModel)]="proj.name"
        (change)="updateAddress($event)"
      />
    </mat-form-field>
    <div class="vert">
      <button
        mat-raised-button
        color="primary"
        (click)="pdfIt()"
        style="
          padding: 0px;
          min-width: 100%;
          height: 30px;
          border: 2px solid black;
          border-radius: 5px;
          text-align: center;
        "
      >
        PDF
      </button>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="photoList()"
        style="
          padding: 0px;
          min-width: 100%;
          height: 30px;
          border: 2px solid black;
          border-radius: 5px;
          text-align: center;
        "
      >
        Photos
      </button>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="clearCache()"
        style="
          padding: 0px;
          min-width: 100%;
          height: 30px;
          border: 2px solid black;
          border-radius: 5px;
          text-align: center;
        "
      >
        Clear
      </button>
    </div>
  </div>
</div>
