.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  background: transparent;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
}

.navigation > * {
  flex: 1;
}

.box1 {
  text-align: center;
  overflow: hidden;
}

.box2 {
  text-align: center;
  border: 1px solid black;
}

.box3 {
  text-align: center;
}

.box4 {
  text-align: center;
  overflow: hidden;
  display: none;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .box1 {
    display: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .box4 {
    display: none;
    text-align: center;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
  }
  .navigation a {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
  .box1 {
    display: none;
  }
  .box4 {
    display: flex;
    flex-flow: column;
  }
}

.button-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.cam-vid {
  object-fit: fill;
}

.horiz {
  display: flex;
  flex-flow: row;
}
