<div class="middiv">
    <mat-card *ngFor="let c of captures" class="example-card">
        <mat-card-header></mat-card-header>
        <mat-card-content>
            <img src="{{ c.dataUrl }}" width="{{ imgWidth }}" height="{{ imgHeight }}" />
        </mat-card-content>
        <mat-card-actions>
            <button (click)="delete(c.id)" mat-button>DELETE</button>
        </mat-card-actions>
    </mat-card>
    <!-- <mat-grid-list cols="2" rowHeight="{{imgHeight}}">
      <mat-grid-tile *ngFor="let c of captures"><img src="{{ c.dataUrl }}" width="{{ imgWidth }}" height="{{ imgHeight }}"/>
      </mat-grid-tile>
    </mat-grid-list> -->
</div>